# dependencies
node_modules

# build output
dist
out
*.tgz

# databases (large binary files)
data/*.mmdb
data/*.mmdb.tmp

# custom data store
data/custom-*.json
data/custom-*.json.tmp

# code coverage
coverage
*.lcov

# logs
logs
*.log
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# dotenv
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# IDE
.idea
.vscode

# OS
.DS_Store
Thumbs.db
